<table>
  <tbody style="font-family: Helvetica, sans-serif; font-size: 18px; max-width: 800px;
    align: center; border-collapse: collapse;">
    <tr>
      <td style="background-color: #649EEE; padding: 10px; ">
        <b>THE BLOG:PROJECT</b>
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 10px 20px 10px; background-color: #fffeea;">
        <table style="background-color: white; width: 100%">
          <tr>
            <td style="font-size: 20px; padding-left: 5px; padding-right: 5px;">
              <p><strong>Hello Admin,</strong></p>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 5px; padding-right: 5px;">
              <p>You have received a new message. The content of the
               message is the following:</p>
              <p style="text-align: center;"><q><i><%= @message %></i></q></p>

            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="background-color: #649EEE; padding: 10px; text-align: center; ">
        &copy; 2018 Fn_Work
      </td>
    </tr>


  </tbody>
</table>
