<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>THE BLOG:PROJECT</h1>
    <p class="lead"><b><%= link_to "Read more about it here", root_path  %></b></p>
    <nav>
      <ul class="nav justify-content-center">
          <% Category.all.each do |category| %>
            <li class="nav-item">
              <b><%= link_to category.name, posts_path(category: category.name) %></b>
            </li>
          <% end %>
      </ul>
    </nav>
  </div>
</div>
