<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-4">BLOG</h1>
  <p class="lead">Read more about it here</p>
<nav>

  <% Category.all.each do |category| %>
    <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to category.name, posts_path(category: category.name) %>
    </li>
      </ul>
  <% end %>

</nav>
</div>
</div>
