<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">THE BLOG:PROJECT</h1>
    <p class="lead">Read more about it here</p>
    <nav>
      <ul class="nav justify-content-center">
          <% Category.all.each do |category| %>
            <li class="nav-item">
              <%= link_to category.name, posts_path(category: category.name) %>
            </li>
          <% end %>
      </ul>
    </nav>
  </div>
</div>
