<section class="container">
  <h3>Welcome to <b>THE BLOG:PROJECT</b> </h3><br>
  <p>This is designed to create an open community
    of bloggers and writers and curious people. If you always wanted to start writing
    or posting or blogging or sharing, then this is the right place for you.
    Feel free to sign up and become a writer.
    We started to blog about our experiences and love to share our encounters with you,
    and him and her and whoever crosses our way.
    While people are always fast on complaining we want to be grateful and share our
    stories that make us grateful and let us discover how wonderful life is and how
    you can always see the beauty in the detail when you try.
  </p><br><br>

  <h3>Storytelling</h3><br>
  <p>We strongly believes that reading or hearing a good story has the same effect as
    eating chocolate: it makes you happy. Being more positive while filling your mind
    with good thoughts lets you focus on how precious your time is and how wonderful
    things can happen to you when being open for these daily little wonders. It doesn't
    have to be a huge mindblowing incident, sometimes it's just a smile when wishing
    someone a good rest of the day.<br>
    Share your story with other people and create something new. A new movement,
    a group of positive thinkers. Feed your soul with some good stories that
    warm up your heart.
  </p><br><br>

  <h3><b>THE BLOG:PROJECT</b> Founder</h3><br>
  <p>Hi, I am Franzi: Web Developer. I created this project for many reasons. First,
    I wanted to share some of my stories that I've been carring around and feel these
    are worth a read, because they contain some positive thinking and I think focusing
    on good things is the right attitude in our society.<br>
    Second, as web developer I wanted to build a web app that has an appealing
    layout and well-working functionalities. While being the creator this can just
    be the start and will always be evolving and grow and change. Change is a good thing.<br>
    Third, I was getting bored of facebook. Although I am a huge fan of being connected
    to my friends and aquaintances I just couldn't stand another post of <q><em>someone
    is interested in an event</em></q> or reading posts of people complaining
    or even worse insulting others via comments.<br>
    I just love reading but instead of wasting time on facebook, I much rather dedicate
    my time to reading inspiring books or stories, so I thought
    I might as well just create such a format of social community in the sense of
    <em><b>Social Storytelling</b></em><br>
    Fourth, I didn't just want to create a blog that I am the only powerful owner of,
    I love creating and producing but not possessing, therefore I decided to go for
    this format of contributing to it and being inspired myself while reading other
    writer's stories. And as four is always a good number, I am gonna leave you with
    these.<br>
    If you have any further questions, you can drop me a line via the contact page.<br>
    If you're eager to post an article here, go ahead an sign up and become part of
    <b>The BLOG:PROJECT</b>.
  </p>




</section>
