// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***** index ****/
.posts {
  border-radius: 5px;
  }

.card {
  width: 18rem;
  height: 280px;
}

.card-title {
  padding-top: 10px;
  text-align: center
}

.card-subtitle {
  text-align: center;
}
.card-text {
  padding: 10px;
}

.card-link { text-align: center; }

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
  }

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

/***** forms *****/
label {
  font-family: "Quattrocento Sans", Helvetica, sans-serif;
  font-size: 16px;
}
.input {
  border-radius: 5px;
  border: solid 1px #d5d5d5;
  padding: 5px;
  margin-bottom: 10px;
  resize: none;
}

.field {
  font-size: 16px;
  font-family: "Quattrocento Sans", Helvetica, sans-serif;

}

select {
  padding: 10px 5px;
  background-color: #649EEE;
  color: white;
  border-color: #649EEE;
  border-radius: 5px;
  margin-bottom: 10px;
}
